<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <script src="{{ url_for('static', filename='javascript/darkMode.js') }}"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWym_7O6xtjMsXunzO2rOci2Hsz8Wh6B4&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/mainpage.css') }}" />
    <script src="{{ url_for('static', filename='javascript/map.js') }}"></script>

    <script>
        $(document).ready(function() {
            fetch("./include_after_login")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("header").innerHTML = data;
                check('{{dns}}');
            });
        });
    </script>

</head>
<body>

    <header></header>

    <div id="floating-panel" onload="initMap()">

        <span>
            Click on the marker to remove it
        </span>
    </div>
    <div id="map"></div>

    <div class="listDiv">
        <p style="text-align: center; margin-left: 20px;" id="list-title">
            <span style="font-size: 16px; font-weight: bold; font-family: Courier;">
                List of markers:
            </span>
        </p>

        <center>
            <input type="button" class="input" onclick="sendRoute()" value="Save route">
            <br>
            <input onclick="clearMarkers();" class="input" type="button" value="Hide Markers" />
            <br>
            <input onclick="showMarkers();" class="input" type="button" value="Show All Markers" />
            <br>
            <input onclick="deleteMarkers();" class="input" type="button" value="Delete Markers" />
        </center>

        <ul id="list" name="route">
        </ul>
    </div>

    <div class="listDiv right" style="right: 0;">
        <p style="text-align: center; margin-left: 20px;" id="">
            <span style="font-size: 16px; font-weight: bold; font-family: Courier;">
                Trips description
            </span>
        </p>

        <center>
            <textarea name="description_area" id="description_area" cols="30" rows="10"></textarea>
        </center>
    </div>

</body>
</html>