<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <script src="{{ url_for('static', filename='javascript/darkMode.js') }}"></script>

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/mainpage.css') }}" />

    <script>
        $(document).ready(function() {
            fetch("./include_after_login")
            .then(response => {
                return response.text()
            })
           .then(data => {
                document.querySelector("header").innerHTML = data;
                load();
                check('{{dns}}');
            });
        });
    </script>

</head>
<body>

    <header style="position: fixed; width: 100%; z-index: 10; top: 0"></header>
    <script>
        function load() {
            document.getElementById('admin-link').className = "active";
        }
    </script>

    {% if users %}
        <table class="table table-hover" style="margin-top: 60px;">
            {% for e in users %}
                {% if loop.index <= 1 %}
                    <tr>
                        {% for elem in e %}
                            <td>
                                {{elem}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            {% for e in users %}
                <tr>
                    {% for elem in e %}
                        <td>
                            {{e[elem]}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}

    {% endif %}

</body>
</html>