<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWym_7O6xtjMsXunzO2rOci2Hsz8Wh6B4&callback=initMap&libraries=&v=weekly"
      defer
    ></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/homepage.css') }}" />
<!--    <script src="{{ url_for('static', filename='javascript/map.js') }}"></script>-->

    <script src="{{ url_for('static', filename='javascript/darkMode.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/posts_handler.js') }}"></script>

    <script>
        $(document).ready(function() {
            fetch("./include_after_login")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("header").innerHTML = data;
                load();
                check('{{dns}}');
            });
        });

        function Posts() {
            //console.log('{{posts|tojson|safe}}');
            var posts = JSON.parse('{{posts|tojson|safe}}');
            addPosts(posts);
        }
    </script>

</head>
<body onload="Posts()">

    <header style="position: fixed; width: 100%; z-index: 10;"></header>

    <script>
        function load() {
            document.getElementById('home-link').className = "active";
        }
    </script>

    <div id="posts_container">

    </div>

</body>
</html>