<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">

</head>
<body>

    <div style="position: -webkit-sticky; position: sticky; top: 0;">
        <ul class="header_ul">
            <!--left-->
            <div class="divide">

                <!--home-->
                <li class="left">
                    <a href="/home" id="home-link" class="underline">
                        <span>
                            Home
                        </span>
                    </a>
                </li>

                <!--Profile-->
                <li class="left">
                    <a href="/profile" id="profile-link" class="underline">
                        <span>
                            Profile
                        </span>
                    </a>
                </li>

                {% if admin_tab %}
                    {{admin_tab|safe}}
                {% endif %}

                <!--Logout-->
                <li class="left">
                    <a href="/logout" id="logout-link" class="underline">
                        <span>
                            Logout
                        </span>
                    </a>
                </li>

            </div>
            <!--center-->
            <div class="divide">
                <li class="center">
                    <a href="/home">
                        <span>
                            <img src="{{ url_for('static', filename='images/globeIcon.png') }}" alt="Logo" style="height: 30px">
                        </span>
                    </a>
                </li>
            </div>
            <!--right-->
            <div class="divide">
                <li class="right">
                    <a href="#">
                        <span>
                            <img id="instagram-logo" src="{{ url_for('static', filename='images/instagram-logo.png') }}" style="height: 18px">
                        </span>
                    </a>
                </li>

                <li class="right">
                    <a href="#">
                        <span>
                            <img id="twitter-logo" src="{{ url_for('static', filename='images/twitter-logo.png') }}" style="height: 18px">
                        </span>
                    </a>
                </li>
            </div>

        </ul>
    </div>

    <div class="footer">
        <nav class="footer_nav">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" onclick="darkMode('{{dns}}')"/>
                    <div class="slider round"></div>
                </label>
                <em>Enable Dark Mode!</em>
            </div>
        </nav>

        <style>
            em {
                background: white;
                transition: 0.5s;
            }

            body.dark-theme em {
                background: black;
                transition: 0.5s;
            }

        </style>

        <nav class="footer_nav">
            <div class="plus_right">
                <a href="/route">
                    <button type="button" class="plus_button">
                        <span>
                            &#43;
                        </span>
                    </button>
                </a>
            </div>
        </nav>

    </div>

</body>
</html>