<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <script src="{{url_for('static', filename='javascript/darkMode.js')}}"></script>

    <script>
        $(document).ready(function() {
            fetch("./include")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("header").innerHTML = data;
                load();
                check('{{dns}}');
            });
        });
    </script>

</head>
<body class="">

    <header></header>

    <script>
        function load() {
            document.getElementById('login-link').className = "active";
        }
    </script>

    {% if login_err_msg %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Failed to login! </strong>
            {{login_err_msg}}
        </div>
    {% endif %}

    <form method="post">

        <center>
            <table >
                <tr>
                    <td>
                        <input type="text" class="input" placeholder="username" name="username">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="password" class="input" placeholder="password" name="password">
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" class="Btn">Login</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" id="rememberMeCheckBox" name="rememberMeBox">
                        <label for="rememberMeCheckBox">Remember me!</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <hr class="solid">
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>
                            Not a user yet?
                            <a href="/register">Register</a>
                        </span>
                    </td>
                </tr>

            </table>
        </center>

    </form>


</body>
</html>