<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <!---->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/profile.css') }}" />

    <script src="{{ url_for('static', filename='javascript/darkMode.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/profile.js') }}"></script>


    <script>
        $(document).ready(function() {
            fetch("./include_after_login")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("header").innerHTML = data;
                load();
                check('{{dns}}');
            });
        });

        function get_user_data() {
            var user_data = JSON.parse('{{user|tojson|safe}}');
            extract_user_data(user_data);
        }

    </script>

</head>
<body onload="get_user_data()">

    <header></header>

    <script>
        function load() {
            document.getElementById('profile-link').className = "active";
        }
    </script>

    {% if updated %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{updated}}</strong>
        </div>
    {% endif %}

    <form method="post">
        <table class="profile_table" id="profile_table">

        </table>

        <input type="submit" class="Btn" value="SAVE">
    </form>

</body>
</html>