<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/include.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <script src="{{url_for('static', filename='javascript/darkMode.js')}}"></script>

    <script>
        $(document).ready(function() {
            fetch("./include")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("header").innerHTML = data;
                load();
                check('{{dns}}');
            });

            $('#phone_number_field').bind("input", function(){
                    var elem = $(this);
                    if (!(elem.val()[elem.val().length - 1] >= '0' && elem.val()[elem.val().length - 1] <= '9' || event.inputType == "deleteContentBackward")) {
                        $('#Error_span').text("* only numbers allowed");
                        elem.val(elem.val().replace(elem.val()[elem.val().length - 1], ""));
                    }
            });

        });
    </script>

</head>
<body class="">

    <header></header>

    <script>
        function load() {
            document.getElementById('register-link').className = "active";
        }
    </script>

    {% if register_err_msg %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Failed to register! </strong>
            {{register_err_msg}}
        </div>
    {% endif %}

    <form method="post">

        <center>
            <table >
                <tr>
                    <td>
                        <input type="text" class="input" placeholder="Enter username" name="username_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="password" class="input" placeholder="Enter password" name="password_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="password" class="input" placeholder="confirm password" name="conf_password_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" class="input" placeholder="Enter name" name="name_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" class="input" placeholder="Enter last name" name="last_name_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" class="input" placeholder="Enter email address" name="email_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" minlength="10" maxlength="10" class="input" placeholder="Enter phone number" id="phone_number_field" name="phone_number_field" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" class="Btn">Register</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span id="Error_span" style="color: red"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <hr class="solid">
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>
                            Already a user?
                            <a href="/login">Login</a>
                        </span>
                    </td>
                </tr>

            </table>
        </center>

    </form>

</body>
</html>