/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 80vh;
}

#floating-panel {
  top: 10px;
  left: 25%;
  padding: 5px;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

.footer {
  z-index: 5;
}

.listDiv {
  position: absolute;
  top: 100px;
  z-index: 10;
  background: rgba(255,255,255, 0.7);
  border-radius: 10px;
  padding-right: 10px;
  transition: 0.5s;

}

body.dark-theme #listDiv {
  background: rgba(0,0,0,0.7);
  transition: 0.5s;
}

#list {
  height: 300px;
  overflow-y: auto;
}

span, li {
  color: black;
  transition: 0.5s;
}

body.dark-theme span, body.dark-theme li {
  color: white;
  transition: 0.5s;
}

.inner_div {
  width: 50%;
  float: left;
  padding: 20px;
  border-bottom: 1px solid black;
}

body.dark-theme .inner_div {
  border-bottom: 1px solid white;
}

.outer_div {
    display: flex;
    padding: 20px;
    //box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
}

#description_area {
  background: rgba(255,255,255,0.8);
  margin-left: 2.5%;
}

#description_area:focus {
  outline: none;
}

.description_div {
  border: 1px solid grey;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
  padding: 10px;
}

#posts_container {
    overflow-y: auto;
}
