body.dark-theme {
  background-color: black;
  color: white;
  transition: 0.5s;
}

body {
  transition: 0.5s;
}

.header_ul {
    list-style-type: none;
    position: sticky;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
}

.header_ul li {
    display: block;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    transition: 0.5s;
}

.divide {
  flex: 1 0 25%;
}


.left {
    float: left;
}

.right {
    float: right;
}

li a {
    color: black;
    transition: 0.5s;
    text-decoration: none;
}

body.dark-theme li a {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: white;
    text-decoration: none;

}

body.dark-theme li a:hover {
    color: white;
    background-color: black;
    text-decoration: none;

}

.underline:hover {
    text-decoration: none;
    position: relative;
    border-width: 0 0 2px;
    border-style: solid;
    transition: 0.1s;
}

.active {

    color: black;
    background-color: white;

    text-decoration: none;
    position: relative;

    border-width: 0 0 2px;
    border-style: solid;

    transition: 0.5s;
}

body.dark-theme .active {
    color: white;
    background-color: black;

    text-decoration: none;
    position: relative;

    border-width: 0 0 2px;
    border-style: solid;

    transition: 0.5s;
}

li a:focus {
    color: black;
    text-decoration: None;
    transition: 0.5s;
}

body.dark-theme li a:focus {
    color: white;
    text-decoration: None;
    transition: 0.5s;
}

span {
    font-size: 13px;
    text-decoration: none;
}

.input{
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 3px;
    transition: 0.5s;
}

body.dark-theme .input{
    background-color: black;
    color: white;
    transition: 0.5s;

}



/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 12px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 12px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.quote-label {
  margin-top: 150px;
}

.quote-label span {
  font-size: 16px;
  font-family: Courier;
  font-weight: bold;
}

.footer_nav {
  width: 50%;
}

.plus_right {
  float: right;
  margin-bottom: 5px;
  margin-right: 10px;
}

.plus_button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: lightgreen;
}

.plus_button:focus {
  outline: none;
}
