table {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.input {
    width: 400px;
}

.Btn {
    width: 120px;
}

.input, .Btn {
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 3px;
    transition: 0.5s;
}

body.dark-theme .input, body.dark-theme .Btn {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.input:hover, .input:focus {
    width: 500px;
    transition: 0.5s;
    outline: none;
}

.Btn:hover, .Btn:focus {
    width: 200px;
    transition: 0.5s;
    outline: none;
}

.solid {
    width: 500px;
    border-top: 1px solid grey;
}

