.profile_table {
    margin: 20px;
}

.profile_input {
    margin-bottom: 20px;
    width: 250px;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid black;
    transition: 0.5s;
}

.dark-theme .profile_input {
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
    transition: 0.5s;
}

.profile_input:hover {
    width: 300px;
    transition: 0.5s;
}

.profile_input:focus {
    width: 350px;
    outline: None;
}

.Btn {
    margin-left: 20px;
    border: 1px solid grey;
    background-color: white;
    color: black;
    padding: 5px 12px;
    border-radius: 3px;
    transition: 0.5s;
}

.dark-theme .Btn {
    background-color: black;
    color: white;
}
